<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>基本示例</title>
    <link rel="stylesheet" href="https://font.c2cmalls.com/css?family=Roboto:300,400,500,700,400italic">
    
    
    <link rel='stylesheet prefetch' href='https://cdnjs.c2cbc.com/ajax/libs/angular-material/1.0.6/angular-material.min.css'>


        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <div ng-controller="AppCtrl" style="padding: 40px;" ng-cloak="" class="datepickerdemoBasicUsage" ng-app="MyApp">
  <md-content>

    <h4>标准的日期选择器</h4>
    <md-datepicker ng-model="myDate" md-placeholder="选择日期"></md-datepicker>


   <!--  <h4>错误提示消息</h4>
    <form name="myForm">
      <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date" required="" md-min-date="minDate" md-max-date="maxDate" md-date-filter="onlyWeekendsPredicate"></md-datepicker>

      <div class="validation-messages" ng-messages="myForm.dateField.$error">
        <div ng-message="valid">输入的值不是一个约会！</div>
        <div ng-message="required">这个日期是必需的！</div>
        <div ng-message="mindate">日期为时尚早！</div>
        <div ng-message="maxdate">日期太晚了！!</div>
        <div ng-message="filtered">只有周末被允许！!</div>
      </div>
    </form> -->
    
  </md-content>
</div>


    <script src='https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.8/angular.js'></script>
<script src='https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js'></script>
<script src='https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.8/angular-route.min.js'></script>
<script src='https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js'></script>
<script src='https://ajax.c2cmalls.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js'></script>
<script src='http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js'></script>
<script src='https://cdnjs.c2cbc.com/ajax/libs/angular-material/1.0.6/angular-material.min.js'></script>
       <script src="https://cdn.c2cmalls.com/material_admin/cailiao-1/material_admin/1.5-2/Template/angular/vendors/bower_components/fullcalendar/dist/lang/zh-cn.js"></script>
        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
